contracts/hardhat-dependency-compiler/
deployments/solcInputs/
typechain-types/
node_modules/
artifacts/
typechain/
coverage/
build/
cache/

.openzeppelin/unknown-*.json
.openzeppelin/goerli.json
deployments/**/*.json
package-lock.json
yarn-error.log
contracts.json
coverage.json
yarn.lock

.Ds_Store
.env
